/* in css html elements are called Selectors with {bracket} for styling */
h1{
    /* color:gold; 
        this is 
        'decleration'
        combination of
    'property' :'value' */
    /* color: gray; */
    /* background-color: aqua; */
}


/* for all */
*{
    /* background-color: aquamarine; */
}


/* class name */
.bio{
    /* border: black solid; */
    /* background-color: cadetblue; */
    font-style: bold;
}
/* id name */
#first{
    /* font-size: x-large; */
    /* font-style:white; */
}



/* parent>directchild */
li>a{ 
    color: tomato;
}

/* all a tag any level who come under li tag  */

li a{    text-decoration: none;
        
         

}

ul a {
    color: yellow;
} 

li>a{ 
    color: tomato;
}

/* forfather decentend */
div b{
    color: white;
    font-weight: bolder;
    font-size: large;
}

/* adjust sibling h1+p{} */

/* General Sibli ng
Selector div~p

Matches an element that is a
sibling of another, although it
does not have to be the directly
preceding element
*/

h1{
    /* color:darkcyan; */
         /* color namr or hexcode or rgb value */
    
         /* background-color: hsl(0, 20%, 50%);
    background-color: hsla(255, 60%, 50%, 0.9);
    background-color: rgba(255, 160, 0, 0.8); */
   
    /* alp
    ha is opacity */
    
    /* opacity: 0.2; */
}

/* hue range 0-360 and has all colors */
/* saturation work on percentage 0%-100% complete gray 100% */
body{
    background-color:lightblue;
    
}

/*target dd who is next to dt only first one 'dt  sibling only who is first dd '  */
dt+dd{
    text-decoration: underline;
    font-weight: bold;

}



/* all sibiling of dt who are dd */
dt~dd{
    color:darkolivegreen;
    font-style: italic;
}
/* COLOR CHAPTER ENDED CHAPTER 11 */




/* TEXT CHAPTER :12#  */