
header {      
    
    text-align: center;
    }


table{
     
     width: initial;
    margin: auto; 
     height: 800px;    
    background-color:slateblue;
    border-collapse: separate; 
    border-spacing: 2ch; 
    
    
    

}
td{
    color: white;   
}


body{
    background-color: white;

}

#thankyou{
    text-align: center;
    font-size: 25px;
    font-weight: bold ;
    color: rgb(76, 76, 209);
}
#thankyou a{
    text-decoration: none;
    color: crimson;
    
}
.goback:hover{
    background-color: azure;
    font-size: 20px;
    text-decoration: underline;
    

}

sup{
    color: red;
}


.submit_reset_row{
    text-align: center;
}
.submit_reset_row input{
    margin-top: 10px ;
    margin-bottom: 10px;
    font-size: 19px;
    margin-left: 10px;
    margin-right: 10px;
}

.foot{
    position: absolute;
    bottom: 0;
    width: 99%;
    margin-bottom: 10px;
    text-align: center;

}

.indexfooter{
    text-align: center;
    margin: auto;
}